        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
            width: 100vw;
            overflow: hidden;
        }

        .wrapper {
          margin-right: auto; /* 1 */
          margin-left:  auto; /* 1 */
          max-width: 100%; /* 2 */
          padding-right: 0.5rem; /* 3 */
          padding-left:  0.5rem; /* 3 */
        }

        .widget-box {
            width: 100%;
            min-height: 100px;
                background-color: #f2f2f2;
            border: 1px solid #37352f26;
            border-radius: 5px;
            padding: 1rem;
        }

        p, a, h1, h2, h3 {
            color: #37352f;
            font-family: helvetica;
            vertical-align: middle;
        }
p {            font-size: 1rem;
}
